@charset 'utf-8';

@mixin m-flex($a: stretch, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

$breakpoints: (
    "tablet": "screen and (min-width: 640px)",
    "desktop": "screen and (min-width: 800px)",
    "full": "screen and (min-width: 1200px)",
    ) !default;

@mixin m-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin m-inner() {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@mixin m-sinner() {
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    @include m-query(desktop) {
        padding-left: 100px
    }
}

@function f-rem($value) {
    @return ($value/16)+rem;
}

$color-background: #FFFAEA;
$color-text: #281E00;


// ----------base---------


body {
    background-color: $color-background;
    color: $color-text;
    font-size: f-rem(14
    );
font-family: serif;
line-height: 3;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}


// ----------common----------


.fix {
    @include m-flex(center);
    padding: 10px;

    &__logo {
        width: (40em/14);
    }

    &__right {
        @include m-flex(center);
    }

    &__shortcut {
        @include m-flex(flex-end);
        margin-right: 20px;
    }

    &__shopInfo {
        margin-right: 15px;
    }

    &__shortcutItem {
        @include m-flex(center);
        flex-direction: row-reverse;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__shortcutText {
        font-size: f-rem(12);
        line-height: 1;

        &--insta {
            display: none;
        }
    }

    &__shortcutImg {
        height: (15em/14);

        img {
            width: (15em/14);
        }

        &--insta {
            height: (20em/14);

            img {
                width: (20em/14);
            }
        }
    }

    &__menu {
        @include m-flex();
        flex-direction: column;
        width: 40px;

        img {
            padding-bottom: 16px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}


// ----------index-----------