body {
  background-color: #FFFAEA;
  color: #281E00;
  font-size: 0.875rem;
  font-family: "tk-takumi-shokei-font", sans-serif;
  font-weight: 200;
  font-style: normal;
  line-height: 3;
  letter-spacing: 0.15em;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: #143959 auto 1px;
}

::-moz-selection {
  background-color: #D3D930;
}

::selection {
  background-color: #D3D930;
}

.fix {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  min-width: 240px;
  background-color: #FFFAEA;
  border-radius: 0 0 10px 10px;
  transition: 0.5s ease-out top, 0.5s ease-out opacity;
}
.fix.disapper {
  top: -7.1428571429em;
  opacity: 0;
}
@media screen and (min-width: 800px) {
  .fix {
    flex-direction: column;
    top: 0;
    left: 0;
    width: 7.8571428571em;
    min-width: auto;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    min-height: 600px;
    padding: 30px 10px;
    border-radius: 0 20px 20px 0;
    transition: 0.5s ease-out left, 0.5s ease-out opacity;
  }
  .fix.disapper {
    top: 0;
    left: -7.1428571429em;
    opacity: 0;
  }
}
.fix__logo {
  width: 2.8571428571em;
}
@media screen and (min-width: 800px) {
  .fix__logo {
    width: 5.7142857143em;
  }
}
.fix__right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .fix__right {
    display: block;
    margin-bottom: -20px;
  }
}
.fix__shortcut {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 20px;
}
@media screen and (min-width: 800px) {
  .fix__shortcut {
    display: block;
    margin-right: 0;
  }
}
.fix__shopInfo {
  margin-right: 15px;
}
@media screen and (min-width: 800px) {
  .fix__shopInfo {
    margin-right: 0;
  }
}
.fix__shortcutItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 15px;
}
.fix__shortcutItem:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 800px) {
  .fix__shortcutItem {
    display: block;
    margin-bottom: 20px;
  }
  .fix__shortcutItem:last-child {
    margin-bottom: 20px;
  }
}
.fix__shortcutText {
  padding-left: 0.25em;
  font-size: 0.75rem;
  line-height: 1;
}
.fix__shortcutText--insta {
  display: none;
}
@media screen and (min-width: 800px) {
  .fix__shortcutText {
    padding-left: 0;
    padding-bottom: 10px;
    text-align: center;
  }
  .fix__shortcutText--insta {
    display: block;
  }
}
.fix__shortcutImg {
  height: 1.0714285714em;
}
.fix__shortcutImg img {
  width: 1.0714285714em;
}
.fix__shortcutImg--insta {
  height: 1.4285714286em;
}
.fix__shortcutImg--insta img {
  width: 1.4285714286em;
}
@media screen and (min-width: 800px) {
  .fix__shortcutImg {
    height: auto;
    text-align: center;
  }
  .fix__shortcutImg img {
    width: 2.8571428571em;
  }
}
.fix__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  width: 40px;
}
.fix__menu img {
  padding-bottom: 16px;
}
.fix__menu img:last-child {
  padding-bottom: 0;
}
.fix__menu--desktop {
  display: none;
}
@media screen and (min-width: 800px) {
  .fix__menu {
    display: none;
    width: 80px;
  }
  .fix__menu img {
    padding-bottom: 30px;
  }
  .fix__menu--desktop {
    display: flex;
  }
}

.inside {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 5.5555555556em 10px 1.6666666667em;
  background-color: #F2C635;
  font-size: 1.125rem;
  text-align: right;
  transform: translateY(-100%);
  transition: 0.8s;
}
.inside.open {
  transform: translateY(0);
}
.inside.resize {
  transition: none;
}
@media screen and (min-width: 800px) {
  .inside {
    width: 40%;
    padding: 30px 10px 30px 8.3333333333em;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    text-align: left;
    transform: translate(-100%, 0);
  }
  .inside.open {
    transform: translateX(0);
  }
}

.header {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 800px;
}
.header__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 300px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .header__inner {
    padding-left: 7.8571428571em;
  }
}
.header__inner--noside {
  max-width: 1200px;
  padding-left: 0;
  padding-top: calc(var(--vh, 1vh) * 15);
}
@media screen and (min-width: 800px) {
  .header__inner--noside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 120px;
  }
}
.header__nav {
  display: none;
}
@media screen and (min-width: 800px) {
  .header__nav {
    display: block;
    padding-top: calc(var(--vh, 1vh) * 40);
    text-align: left;
  }
}
.header__logo img {
  width: 11.4285714286em;
}
.header__motto {
  writing-mode: vertical-rl;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  font-family: "shippori-mincho", sans-serif;
  font-size: 2rem;
  line-height: 2;
  text-align: right;
}
@media screen and (min-width: 800px) {
  .header__motto {
    margin-bottom: 0;
    font-size: 2.25rem;
  }
}
.header__title {
  writing-mode: vertical-rl;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.25rem;
  font-family: "shippori-mincho", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
}

.footer {
  padding: 100px 0;
  margin-top: 120px;
}
@media screen and (min-width: 800px) {
  .footer {
    margin-top: 300px;
  }
}
.footer__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .footer__inner {
    padding-left: 7.8571428571em;
  }
}
.footer__content {
  padding-bottom: 60px;
  border-bottom: #281E00 solid 1px;
}
@media screen and (min-width: 800px) {
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.footer__nav {
  margin-bottom: 4.2857142857em;
}
@media screen and (min-width: 800px) {
  .footer__nav {
    margin-bottom: 0;
  }
}
.footer__navItem {
  font-size: 1.125rem;
  line-height: 1;
  margin-bottom: 1.1111111111em;
}
.footer__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 1.4285714286em;
}
.footer__logo {
  width: 5.7142857143em;
  margin-right: 50px;
}
.footer__insta {
  width: 2.1428571429em;
  height: 2.1428571429em;
}
.footer__infoText {
  line-height: 2;
  font-family: "shippori-mincho", sans-serif;
}
.footer__copy {
  display: block;
  margin-top: 2.5em;
  font-size: 0.75rem;
  font-family: "shippori-mincho", sans-serif;
  text-align: center;
}

.block__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .block__inner {
    padding-left: 7.8571428571em;
  }
}
@media screen and (min-width: 800px) {
  .block__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.block__title {
  font-size: 2.25rem;
  font-family: "shippori-mincho", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  writing-mode: vertical-rl;
  white-space: nowrap;
  margin: 0 auto 90px;
}
@media screen and (min-width: 800px) {
  .block__title {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    width: 8.3333333333%;
    margin: 0;
  }
}
@media screen and (min-width: 800px) {
  .block__list {
    width: 83.3333333333%;
  }
}
.block__item {
  margin-bottom: 90px;
}
.block__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 800px) {
  .block__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.block__image {
  max-width: 300px;
  margin: 0 auto 60px;
}
.block__image img {
  -webkit-clip-path: url(#clip);
          clip-path: url(#clip);
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .block__image {
    width: 30%;
    margin: 0;
  }
}
@media screen and (min-width: 800px) {
  .block__content {
    width: 60%;
  }
}
.block__name {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.block__text {
  margin-bottom: 30px;
}
.block__notation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.75rem;
}
.block__notation p {
  margin-right: 2.5em;
}
.block__notation :last-child {
  margin-right: 0;
}

.unit {
  margin-bottom: 300px;
}
.unit__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media screen and (min-width: 800px) {
  .unit__inner {
    padding-left: 7.8571428571em;
  }
}
@media screen and (min-width: 800px) {
  .unit__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 800px) {
  .unit__inner--rev {
    flex-direction: row-reverse;
  }
}
.unit__image {
  position: absolute;
  z-index: -999;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 25em;
}
@media screen and (min-width: 800px) {
  .unit__image {
    position: static;
    transform: none;
    width: 38.8888888889%;
  }
}
.unit__image img {
  -webkit-clip-path: url(#clip);
          clip-path: url(#clip);
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.unit__title {
  font-size: 2.25rem;
  font-family: "shippori-mincho", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  writing-mode: vertical-rl;
  white-space: nowrap;
  height: 9.7222222222em;
  margin: 0 auto 90px;
  padding: 0 0.4722222222em;
  background-color: #FFFAEA;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .unit__title {
    height: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: left;
  }
}
@media screen and (min-width: 800px) {
  .unit__content {
    width: 38.8888888889%;
  }
}
.unit__text {
  margin-bottom: 90px;
}
.unit__link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  font-size: 1.125rem;
  line-height: 1;
  -webkit-text-decoration: underline #281E00;
          text-decoration: underline #281E00;
}
@media screen and (min-width: 800px) {
  .unit__link {
    margin-left: 0;
  }
}

.news {
  margin-bottom: 300px;
}
.news__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .news__inner {
    padding-left: 7.8571428571em;
  }
}
.news__title {
  font-size: 2.25rem;
  font-family: "shippori-mincho", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  margin-bottom: 90px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.news__item {
  margin-bottom: 90px;
}
@media screen and (min-width: 800px) {
  .news__item {
    width: 27.7777777778%;
    margin-bottom: 0;
  }
}
.news__image {
  max-width: 240px;
  margin: 0 auto 30px;
}
.news__image img {
  -webkit-clip-path: url(#clip);
          clip-path: url(#clip);
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.news__text {
  margin: 0 auto 30px;
  max-width: 240px;
  line-height: 1.5;
}
.news__date {
  line-height: 1;
  text-align: center;
}
.news__link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  font-size: 1.125rem;
  -webkit-text-decoration: underline solid;
          text-decoration: underline solid;
}
@media screen and (min-width: 800px) {
  .news__link {
    margin-right: auto;
    margin-top: 60px;
  }
}

.calendar {
  margin-bottom: 300px;
}
.calendar__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .calendar__inner {
    padding-left: 7.8571428571em;
  }
}
.calendar__title {
  font-size: 2.25rem;
  font-family: "shippori-mincho", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  margin-bottom: 60px;
  text-align: center;
}

.map {
  margin-bottom: 300px;
}
.map__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .map__inner {
    padding-left: 7.8571428571em;
  }
}
.map__title {
  font-size: 2.25rem;
  font-family: "shippori-mincho", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .map__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.map__image {
  margin: 0 auto 60px;
  max-width: 460px;
}
@media screen and (min-width: 800px) {
  .map__image {
    width: 41.6666666667%;
    margin: 0;
  }
}
@media screen and (min-width: 800px) {
  .map__content {
    width: 41.6666666667%;
  }
}
.map__text {
  margin-bottom: 60px;
}
.map__address {
  margin-bottom: 60px;
}
.map__link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  font-size: 1.125rem;
  -webkit-text-decoration: underline #281E00;
          text-decoration: underline #281E00;
}
@media screen and (min-width: 800px) {
  .map__link {
    margin-left: 0;
  }
}

.contact {
  text-align: center;
}
.contact__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .contact__inner {
    padding-left: 7.8571428571em;
  }
}
.contact__title {
  font-size: 2.25rem;
  font-family: "shippori-mincho", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  margin-bottom: 60px;
}
.contact__text {
  margin-bottom: 30px;
}
.contact__number {
  font-size: 2.25rem;
}

.detailed {
  margin-bottom: 300px;
}
.detailed__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .detailed__inner {
    padding-left: 7.8571428571em;
  }
}
.detailed__title {
  font-size: 2.25rem;
  font-family: "shippori-mincho", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  writing-mode: vertical-rl;
  white-space: nowrap;
  margin: 0 auto 90px;
}
.detailed__text {
  margin-bottom: 90px;
}
@media screen and (min-width: 800px) {
  .detailed__imgList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.detailed__imgItem {
  margin-bottom: 30px;
}
@media screen and (min-width: 800px) {
  .detailed__imgItem {
    width: 33.3333333333%;
    margin-bottom: 0;
  }
}
.detailed__imgItem:nth-child(1) {
  margin-left: 6.6666666667%;
}
@media screen and (min-width: 800px) {
  .detailed__imgItem:nth-child(1) {
    margin-left: 0;
    margin-top: 30px;
  }
}
.detailed__imgItem:nth-child(2) {
  text-align: right;
}
@media screen and (min-width: 800px) {
  .detailed__imgItem:nth-child(2) {
    text-align: left;
    margin-top: 180px;
  }
}
.detailed__imgItem:last-child {
  margin-bottom: 0;
}
.detailed__imgItem img {
  -webkit-clip-path: url(#clip);
          clip-path: url(#clip);
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  width: 66.6666666667%;
}
@media screen and (min-width: 800px) {
  .detailed__imgItem img {
    width: 100%;
  }
}

.feature {
  margin-bottom: 300px;
}

.introduce__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .introduce__inner {
    padding-left: 7.8571428571em;
  }
}
@media screen and (min-width: 800px) {
  .introduce__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 800px) {
  .introduce__content {
    width: 41.6666666667%;
  }
}
.introduce__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 90px;
}
.introduce__title {
  font-size: 2.25rem;
  font-family: "shippori-mincho", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  writing-mode: vertical-rl;
  white-space: nowrap;
}
.introduce__name {
  font-size: 2.25rem;
  font-family: "shippori-mincho", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
}
.introduce__text {
  margin-bottom: 90px;
}
@media screen and (min-width: 800px) {
  .introduce__text {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 800px) {
  .introduce__image {
    width: 50%;
  }
}
.introduce__image img {
  aspect-ratio: 0.75;
  -o-object-fit: cover;
     object-fit: cover;
}

.dayItems {
  margin-bottom: 300px;
  line-height: 1;
}
.dayItems__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .dayItems__inner {
    padding-left: 7.8571428571em;
  }
}
.dayItems__title {
  margin-bottom: 60px;
  font-size: 2.25rem;
  font-family: "shippori-mincho", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
}
@media screen and (min-width: 800px) {
  .dayItems__list {
    margin-left: 16.6666666667%;
  }
}
.dayItems__column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 1px #281E00 dotted;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
@media screen and (min-width: 800px) {
  .dayItems__column {
    width: 450px;
  }
}
.dayItems__item {
  margin-bottom: 5px;
  margin-right: 30px;
}
.dayItems__attention {
  font-size: 0.75rem;
  line-height: 1.5;
}
.dayItems__allergie {
  margin-top: 60px;
  font-size: 1.25rem;
}
.dayItems__allergie a {
  color: #E83342;
  -webkit-text-decoration: underline #E83342;
          text-decoration: underline #E83342;
}
.dayItems__allergie a::after {
  content: "";
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  background: url(../images/PDF_24.png) no-repeat center center;
  vertical-align: middle;
}

.standard {
  margin-bottom: 300px;
}

.article__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .article__inner {
    padding-left: 7.8571428571em;
  }
}
.article__item {
  margin-bottom: 60px;
  padding-bottom: 30px;
  border-bottom: #281E00 1px dotted;
}
@media screen and (min-width: 800px) {
  .article__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.article__image {
  margin: 0 auto 75px;
  max-width: 250px;
}
@media screen and (min-width: 800px) {
  .article__image {
    margin: 0;
    width: 16.6666666667%;
  }
}
.article__image img {
  -webkit-clip-path: url(#clip);
          clip-path: url(#clip);
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .article__content {
    width: 75%;
  }
}
.article__title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  line-height: 1;
}
.article__date {
  margin-bottom: 30px;
  line-height: 1;
}
.article__text {
  line-height: 2;
}
.article__pagenation {
  text-align: center;
  line-height: 1;
}
.article__pagenation :last-child {
  margin-right: 0;
}
.article__beforePage {
  width: 2.1428571429em;
  height: 2.1428571429em;
  margin-right: 2.1428571429em;
  display: none;
}
.article__page {
  width: 2.1428571429em;
  height: 2.1428571429em;
  margin-right: 2.1428571429em;
}
.article__page--current {
  background: url(../images/flower.svg) no-repeat center center;
  color: #FFFAEA;
}
.article__nextPage {
  width: 2.1428571429em;
  height: 2.1428571429em;
  margin-right: 2.1428571429em;
}

.single {
  margin-top: 200px;
}
.single__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .single__inner {
    padding-left: 7.8571428571em;
  }
}
.single__title {
  margin-bottom: 15px;
  font-size: 2.25rem;
}
.single__date {
  margin-bottom: 15px;
  font-size: 0.75rem;
}
.single__link {
  color: #E83342;
  -webkit-text-decoration: underline #E83342;
          text-decoration: underline #E83342;
}
.single__text {
  margin: 120px 0 60px;
  line-height: 2;
}
.single__images {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 800px) {
  .single__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}
.single__images img {
  margin-bottom: 60px;
  -webkit-clip-path: url(#clip);
          clip-path: url(#clip);
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 400px;
}
@media screen and (min-width: 800px) {
  .single__images img {
    width: 30%;
  }
}
.single__back {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  .shop {
    margin-bottom: 300px;
  }
}
.shop__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .shop__inner {
    padding-left: 7.8571428571em;
  }
}
.shop__address {
  margin-bottom: 210px;
}
.shop__map {
  width: 100%;
  position: relative;
  padding-top: 75%;
}
.shop__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.shop__text {
  margin-bottom: 60px;
  text-align: center;
}
.shop__card {
  margin-bottom: 120px;
}
.shop__card:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 800px) {
  .shop__card:nth-child(odd) {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 800px) {
  .shop__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.shop__cardContent {
  margin-bottom: 60px;
}
@media screen and (min-width: 800px) {
  .shop__cardContent {
    width: 45%;
    margin-bottom: 0;
  }
}
.shop__cardTitle {
  margin-bottom: 30px;
  font-size: 1.5rem;
}
@media screen and (min-width: 800px) {
  .shop__cardImg {
    width: 45%;
  }
}

.info {
  text-align: center;
}
.info__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .info__inner {
    padding-left: 7.8571428571em;
  }
}
.info__number {
  font-size: 2.25rem;
}

.notfound {
  margin-top: 21.4285714286em;
}
.notfound__inner {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .notfound__inner {
    padding-left: 7.8571428571em;
  }
}
.notfound__text {
  font-size: 2.25rem;
}
/*# sourceMappingURL=style.css.map */