@charset 'utf-8';

@mixin m-flex($a: stretch, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

$breakpoints: (
    "tablet": "screen and (min-width: 640px)",
    "desktop": "screen and (min-width: 800px)",
    "full": "screen and (min-width: 1200px)",
    ) !default;

@mixin m-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin m-tinner() {
    max-width: 1200px;
    padding-left: 0;
}

@mixin m-inner() {
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    @include m-query(desktop) {
        padding-left: (110em/14
        );
}
}

@mixin m-mainTitle($s: 36) {
    font-size: f-rem($s );
    font-family: "shippori-mincho",
        sans-serif;
    font-weight: 500; //regularは400,boldは700
    font-style: normal;
    line-height: 1;
}

@mixin m-clip() {
    clip-path: url(#clip);
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
}

@function f-rem($value) {
    @return ($value/16)+rem;
}


$color-background: #FFFAEA;
$color-text: #281E00;
$color-main: #F2C635;
$color-accent: #E83342;
$color-subBlue: #143959;
$color-subGreen: #D3D930;

//  ######     ##      #####   #######
//   ##  ##   ####    ##   ##   ##   #
//   ##  ##  ##  ##   #         ## #
//   #####   ##  ##    #####    ####
//   ##  ##  ######        ##   ## #
//   ##  ##  ##  ##   ##   ##   ##   #
//  ######   ##  ##    #####   #######

body {
    background-color: $color-background;
    color: $color-text;
    font-size: f-rem(14);
    font-family: "tk-takumi-shokei-font", sans-serif;
    font-weight: 200; //boldは400
    font-style: normal;
    line-height: 3;
    letter-spacing: 0.15em;
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: $color-subBlue auto 1px;
}

// フォーカスインジゲーターを表示させる

::selection {
    background-color: $color-subGreen;
}

//    ####    #####   ##   ##  ##   ##   #####
//   ##  ##  ##   ##  ### ###  ### ###  ##   ##
//  ##       ##   ##  #######  #######  ##   ##
//  ##       ##   ##  #######  #######  ##   ##
//  ##       ##   ##  ## # ##  ## # ##  ##   ##
//   ##  ##  ##   ##  ##   ##  ##   ##  ##   ##
//    ####    #####   ##   ##  ##   ##   #####

.fix {
    @include m-flex(center);
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    min-width: 240px;
    background-color: $color-background;
    border-radius: 0 0 10px 10px;
    transition: .5s ease-out top,
        .5s ease-out opacity;

    &.disapper {
        top: -(100em/14);
        opacity: 0;
    }

    @include m-query(desktop) {
        flex-direction: column;
        top: 0;
        left: 0;
        width: (110em/14);
        min-width: auto;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        min-height: 600px;
        padding: 30px 10px;
        border-radius: 0 20px 20px 0;
        transition: .5s ease-out left,
            .5s ease-out opacity;

        &.disapper {
            top: 0;
            left: -(100em/14);
            opacity: 0;
        }
    }

    &__logo {
        width: (40em/14);

        @include m-query(desktop) {
            width: (80em/14);
        }
    }

    &__right {
        @include m-flex(center);

        @include m-query(desktop) {
            display: block;
            margin-bottom: -20px
        }
    }

    &__shortcut {
        @include m-flex(flex-end);
        margin-right: 20px;

        @include m-query(desktop) {
            display: block;
            margin-right: 0;
        }
    }

    &__shopInfo {
        margin-right: 15px;

        @include m-query(desktop) {
            margin-right: 0;
        }
    }

    &__shortcutItem {
        @include m-flex(center, flex-end);
        flex-direction: row-reverse;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        @include m-query(desktop) {
            display: block;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 20px;
            }
        }
    }

    &__shortcutText {
        padding-left: (3em/12);
        font-size: f-rem(12);
        line-height: 1;

        &--insta {
            display: none;
        }

        @include m-query(desktop) {
            padding-left: 0;
            padding-bottom: 10px;
            text-align: center;

            &--insta {
                display: block;
            }
        }
    }

    &__shortcutImg {
        height: (15em/14);

        img {
            width: (15em/14);
        }

        &--insta {
            height: (20em/14);

            img {
                width: (20em/14);
            }
        }

        @include m-query(desktop) {
            height: auto;
            text-align: center;

            img {
                width: (40em/14);
            }
        }
    }

    &__menu {
        @include m-flex();
        flex-direction: column;
        width: 40px;

        img {
            padding-bottom: 16px;

            &:last-child {
                padding-bottom: 0;
            }
        }

        &--desktop {
            display: none;
        }

        @include m-query(desktop) {
            display: none;
            width: 80px;

            img {
                padding-bottom: 30px;
            }

            &--desktop {
                display: flex;
            }
        }
    }
}

.inside {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: (100em/18) 10px (30em/18);
    background-color: $color-main;
    font-size: f-rem(18);
    text-align: right;
    transform: translateY(-100%);
    transition: .8s;

    &.open {
        transform: translateY(0);
    }

    &.resize {
        transition: none;
    }

    @include m-query(desktop) {
        width: 40%;
        padding: 30px 10px 30px (150em/18);
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        text-align: left;
        transform: translate(-100%, 0);

        &.open {
            transform: translateX(0);
        }
    }
}

.header {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    min-height: 800px;

    &__inner {
        @include m-inner();
        padding-top: 300px;
        text-align: center;

        &--noside {
            @include m-tinner();
            padding-top: calc(var(--vh, 1vh) * 15);

            @include m-query(desktop) {
                @include m-flex(flex-start);
                padding-top: 120px;
            }
        }
    }

    &__nav {
        display: none;

        @include m-query(desktop) {
            display: block;
            padding-top: calc(var(--vh, 1vh) * 40);
            text-align: left;
        }
    }

    &__logo {

        img {
            width: (160em/14);
        }
    }

    &__motto {
        writing-mode: vertical-rl;
        white-space: nowrap;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 90px;
        font-family: "shippori-mincho",
            sans-serif;
        font-size: f-rem(32);
        line-height: 2;
        text-align: right;

        @include m-query(desktop) {
            margin-bottom: 0;
            font-size: f-rem(36);
        }
    }

    &__title {
        writing-mode: vertical-rl;
        white-space: nowrap;
        margin-left: auto;
        margin-right: auto;
        @include m-mainTitle();
    }
}

.footer {
    padding: 100px 0;
    margin-top: 120px;

    @include m-query(desktop) {
        margin-top: 300px
    }

    &__inner {
        @include m-inner();
    }

    &__content {
        padding-bottom: 60px;
        border-bottom: $color-text solid 1px;

        @include m-query(desktop) {
            @include m-flex(flex-start);
        }
    }

    &__nav {
        margin-bottom: (60em/14);

        @include m-query(desktop) {
            margin-bottom: 0;
        }
    }

    &__navItem {
        font-size: f-rem(18);
        line-height: 1;
        margin-bottom: (20em/18);
    }

    &__images {
        @include m-flex(flex-end, flex-start);
        margin-bottom: (20em/14);
    }

    &__logo {
        width: (80em/14);
        margin-right: 50px;
    }

    &__insta {
        width: (30em/14);
        height: (30em/14);
    }

    &__infoText {
        line-height: 2;
        font-family: "shippori-mincho",
            sans-serif;
    }

    &__copy {
        display: block;
        margin-top: (30em/12);
        font-size: f-rem(12);
        font-family: "shippori-mincho",
            sans-serif;
        text-align: center;
    }
}

.block {
    &__inner {
        @include m-inner();

        @include m-query(desktop) {
            @include m-flex(flex-start);
        }
    }

    &__title {
        @include m-mainTitle();
        writing-mode: vertical-rl;
        white-space: nowrap;
        margin: 0 auto 90px;

        @include m-query(desktop) {
            position: sticky;
            top: 60px;
            width: (75/900)*100%;
            margin: 0;
        }
    }

    &__list {
        @include m-query(desktop) {
            width: (750/900)*100%;
        }
    }

    &__item {
        margin-bottom: 90px;

        &:last-child {
            margin-bottom: 0;
        }

        @include m-query(desktop) {
            @include m-flex(center);
        }
    }

    &__image {
        max-width: 300px;
        margin: 0 auto 60px;

        img {
            @include m-clip();
        }

        @include m-query(desktop) {
            width: (225/750)*100%;
            margin: 0;
        }
    }

    &__content {
        @include m-query(desktop) {
            width: (450/750)*100%;
        }
    }

    &__name {
        font-size: f-rem(24);
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 30px;
    }

    &__notation {
        @include m-flex(center, flex-start);
        font-size: f-rem(12);

        p {
            margin-right: (30em/12);
        }

        :last-child {
            margin-right: 0;
        }
    }
}

//   ####    ##   ##  #####    #######  ##  ##
//    ##     ###  ##   ## ##    ##   #  ##  ##
//    ##     #### ##   ##  ##   ## #     ####
//    ##     ## ####   ##  ##   ####      ##
//    ##     ##  ###   ##  ##   ## #     ####
//    ##     ##   ##   ## ##    ##   #  ##  ##
//   ####    ##   ##  #####    #######  ##  ##

.unit {
    margin-bottom: 300px;

    &__inner {
        @include m-inner();
        position: relative;

        @include m-query(desktop) {
            @include m-flex(center);
        }

        &--rev {
            @include m-query(desktop) {
                flex-direction: row-reverse;
            }
        }
    }

    &__image {
        position: absolute;
        z-index: -999;
        left: 50%;
        transform: translateX(-50%); //中央寄せ（調整）
        width: 100%;
        max-width: (350em/14);

        @include m-query(desktop) {
            position: static;
            transform: none;
            width: (350/900)*100%;
        }

        img {
            @include m-clip();
        }
    }

    &__title {
        @include m-mainTitle();
        writing-mode: vertical-rl;
        white-space: nowrap;
        height: (350em/36);
        margin: 0 auto 90px;
        padding: 0 (17em/36);
        background-color: $color-background;
        text-align: center;

        @include m-query(desktop) {
            height: auto;
            margin: 0;
            padding: 0;
            background-color: transparent;
            text-align: left;
        }
    }

    &__content {
        @include m-query(desktop) {
            width: (350/900)*100%;
        }
    }

    &__text {
        margin-bottom: 90px;
    }

    &__link {
        display: block;
        width: fit-content;
        margin-left: auto;
        font-size: f-rem(18);
        line-height: 1;
        text-decoration: underline $color-text;

        @include m-query(desktop) {
            margin-left: 0;
        }
    }
}

.news {
    margin-bottom: 300px;

    &__inner {
        @include m-inner();
    }

    &__title {
        @include m-mainTitle();
        margin-bottom: 90px;
        text-align: center;
    }

    &__list {
        @include m-query(desktop) {
            @include m-flex(flex-start);
        }
    }

    &__item {
        margin-bottom: 90px;

        @include m-query(desktop) {
            width: (250/900)*100%;
            margin-bottom: 0;
        }
    }

    &__image {
        max-width: 240px;
        margin: 0 auto 30px;

        img {
            @include m-clip();
        }
    }

    &__text {
        margin: 0 auto 30px;
        max-width: 240px;
        line-height: 1.5;
    }

    &__date {
        line-height: 1;
        text-align: center;
    }

    &__link {
        display: block;
        width: fit-content;
        margin-left: auto;
        font-size: f-rem(18);
        text-decoration: underline solid;

        @include m-query(desktop) {
            margin-right: auto;
            margin-top: 60px;
        }
    }
}

.calendar {
    margin-bottom: 300px;

    &__inner {
        @include m-inner();
    }

    &__title {
        @include m-mainTitle();
        margin-bottom: 60px;
        text-align: center;
    }
}

.map {
    margin-bottom: 300px;

    &__inner {
        @include m-inner();
    }

    &__title {
        @include m-mainTitle();
        margin-bottom: 60px;
        text-align: center;
    }

    &__list {
        @include m-query(desktop) {
            @include m-flex(center);
        }
    }

    &__image {
        margin: 0 auto 60px;
        max-width: 460px;

        @include m-query(desktop) {
            width: (375/900)*100%;
            margin: 0;
        }
    }

    &__content {
        @include m-query(desktop) {
            width: (375/900)*100%;
        }
    }

    &__text {
        margin-bottom: 60px;
    }

    &__address {
        margin-bottom: 60px;
    }

    &__link {
        display: block;
        width: fit-content;
        margin-left: auto;
        font-size: f-rem(18);
        text-decoration: underline $color-text;

        @include m-query(desktop) {
            margin-left: 0;
        }
    }
}

.contact {
    text-align: center;

    &__inner {
        @include m-inner();
    }

    &__title {
        @include m-mainTitle();
        margin-bottom: 60px;
    }

    &__text {
        margin-bottom: 30px;
    }

    &__number {
        font-size: f-rem(36);
    }
}

//    ##     ######    #####   ##   ##  ######
//   ####     ##  ##  ##   ##  ##   ##  # ## #
//  ##  ##    ##  ##  ##   ##  ##   ##    ##
//  ##  ##    #####   ##   ##  ##   ##    ##
//  ######    ##  ##  ##   ##  ##   ##    ##
//  ##  ##    ##  ##  ##   ##  ##   ##    ##
//  ##  ##   ######    #####    #####    ####

.detailed {
    margin-bottom: 300px;

    &__inner {
        @include m-inner();
    }

    &__title {
        @include m-mainTitle();
        writing-mode: vertical-rl;
        white-space: nowrap;
        margin: 0 auto 90px;
    }

    &__text {
        margin-bottom: 90px;
    }

    &__imgList {
        @include m-query(desktop) {
            @include m-flex(flex-start);
        }
    }

    &__imgItem {
        margin-bottom: 30px;

        @include m-query(desktop) {
            width: (300/900)*100%;
            margin-bottom: 0;
        }

        &:nth-child(1) {
            margin-left: (20/300)*100%;

            @include m-query(desktop) {
                margin-left: 0;
                margin-top: 30px;
            }
        }

        &:nth-child(2) {
            text-align: right;

            @include m-query(desktop) {
                text-align: left;
                margin-top: 180px;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        img {
            @include m-clip();
            width: (2/3)*100%;

            @include m-query(desktop) {
                width: 100%;
            }
        }
    }
}

.feature {
    margin-bottom: 300px;
    //ここ以降はblockでcommonに
}

.introduce {
    &__inner {
        @include m-inner();

        @include m-query(desktop) {
            @include m-flex(center);
        }
    }

    &__content {
        @include m-query(desktop) {
            width: (375/900)*100%;
        }
    }

    &__top {
        @include m-flex(flex-end);
        margin-bottom: 90px;
    }

    &__title {
        @include m-mainTitle();
        writing-mode: vertical-rl;
        white-space: nowrap;
    }

    &__name {
        @include m-mainTitle();
    }

    &__text {
        margin-bottom: 90px;

        @include m-query(desktop) {
            margin-bottom: 0;
        }
    }

    &__image {
        @include m-query(desktop) {
            width: (450/900)*100%;
        }

        img {
            aspect-ratio: (3/4);
            object-fit: cover;
        }
    }
}

//  ######   ######    #####   #####      ####
//   ##  ##   ##  ##  ##   ##   ## ##    ##  ##
//   ##  ##   ##  ##  ##   ##   ##  ##  ##
//   #####    #####   ##   ##   ##  ##  ##
//   ##       ## ##   ##   ##   ##  ##  ##
//   ##       ##  ##  ##   ##   ## ##    ##  ##
//  ####     #### ##   #####   #####      ####

.dayItems {
    margin-bottom: 300px;
    line-height: 1;

    &__inner {
        @include m-inner();
    }

    &__title {
        margin-bottom: 60px;
        @include m-mainTitle();
    }

    &__list {
        @include m-query(desktop) {
            margin-left: (150/900)*100%;
        }
    }

    &__column {
        @include m-flex();
        border-bottom: 1px $color-text dotted;
        margin-bottom: 30px;
        font-size: f-rem(24);

        @include m-query(desktop) {
            width: 450px;
        }
    }

    &__item {
        margin-bottom: 5px;
        margin-right: 30px;
    }

    &__attention {
        font-size: f-rem(12);
        line-height: 1.5;
    }

    &__allergie {
        margin-top: 60px;
        font-size: f-rem(20);

        a {
            color: $color-accent;
            text-decoration: underline $color-accent;

            &::after {
                content: "";
                display: inline-block;
                width: (24em/20);
                height: (24em/20);
                background: url(../images/PDF_24.png) no-repeat center center;
                vertical-align: middle;
            }
        }

    }
}

.standard {
    margin-bottom: 300px;
    //ここ以降はblockでcommonに
}

//  ##   ##  #######  ##   ##   #####
//  ###  ##   ##   #  ##   ##  ##   ##
//  #### ##   ## #    ##   ##  #
//  ## ####   ####    ## # ##   #####
//  ##  ###   ## #    #######       ##
//  ##   ##   ##   #  ### ###  ##   ##
//  ##   ##  #######  ##   ##   #####

.article {
    &__inner {
        @include m-inner();
    }

    &__item {
        margin-bottom: 60px;
        padding-bottom: 30px;
        border-bottom: $color-text 1px dotted;

        @include m-query(desktop) {
            @include m-flex(center);
        }
    }

    &__image {
        margin: 0 auto 75px;
        max-width: 250px;

        @include m-query(desktop) {
            margin: 0;
            width: (150/900)*100%;
        }

        img {
            @include m-clip();
        }
    }

    &__content {
        @include m-query(desktop) {
            width: (675/900)*100%;
        }
    }

    &__title {
        margin-bottom: 10px;
        font-size: f-rem(24);
        line-height: 1;
    }

    &__date {
        margin-bottom: 30px;
        line-height: 1;
    }

    &__text {
        line-height: 2;
    }

    &__pagenation {
        text-align: center;
        line-height: 1;

        :last-child {
            margin-right: 0;
        }
    }

    &__beforePage {
        width: (30em/14);
        height: (30em/14);
        margin-right: (30em/14);
        display: none; //1ページ目なら表示しないにしたい
    }

    &__page {
        width: (30em/14);
        height: (30em/14);
        margin-right: (30em/14);

        &--current {
            background: url(../images/flower.svg) no-repeat center center;
            color: $color-background;
        }
    }

    &__nextPage {
        width: (30em/14);
        height: (30em/14);
        margin-right: (30em/14);
    }
}

//    ##     ######   ######   ####     ####
//   ####     ##  ##  # ## #    ##     ##  ##
//  ##  ##    ##  ##    ##      ##    ##
//  ##  ##    #####     ##      ##    ##
//  ######    ## ##     ##      ##    ##
//  ##  ##    ##  ##    ##      ##     ##  ##
//  ##  ##   #### ##   ####    ####     ####

.single {
    margin-top: 200px;

    &__inner {
        @include m-inner();
    }

    &__title {
        margin-bottom: 15px;
        font-size: f-rem(36);
    }

    &__date {
        margin-bottom: 15px;
        font-size: f-rem(12);
    }

    &__link {
        color: $color-accent;
        text-decoration: underline $color-accent;
    }

    &__text {
        margin: 120px 0 60px;
        line-height: 2;
    }

    &__images {
        text-align: center;
        margin-bottom: 60px;

        @include m-query(desktop) {
            @include m-flex();
        }

        img {
            margin-bottom: 60px;
            clip-path: url(#clip);
            aspect-ratio: 1/1;
            object-fit: cover;
            width: 100%;
            max-width: 400px;

            @include m-query(desktop) {
                width: 30%;
            }
        }
    }

    &__back {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        font-size: f-rem(16);
    }
}

//   #####   ######    #####   ######   #######
//  ##   ##  # ## #   ##   ##   ##  ##   ##   #
//  #          ##     ##   ##   ##  ##   ## #
//   #####     ##     ##   ##   #####    ####
//       ##    ##     ##   ##   ## ##    ## #
//  ##   ##    ##     ##   ##   ##  ##   ##   #
//   #####    ####     #####   #### ##  #######

.shop {
    @include m-query(desktop) {
        margin-bottom: 300px;
    }

    &__inner {
        @include m-inner();
    }

    &__address {
        margin-bottom: 210px;
    }

    &__map {
        width: 100%;
        position: relative;
        padding-top: (3/4)*100%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }


    &__text {
        margin-bottom: 60px;
        text-align: center;
    }

    &__card {
        margin-bottom: 120px;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(odd) {
            @include m-query(desktop) {
                flex-direction: row-reverse;
            }
        }

        @include m-query(desktop) {
            @include m-flex(flex-start);
        }
    }

    &__cardContent {
        margin-bottom: 60px;

        @include m-query(desktop) {
            width: 45%; //デザインから変更、比率
            margin-bottom: 0;
        }
    }

    &__cardTitle {
        margin-bottom: 30px;
        font-size: f-rem(24);
    }

    &__cardImg {
        @include m-query(desktop) {
            width: 45%;
        }
    }
}

//    ####    #####   ##   ##  ######     ##
//   ##  ##  ##   ##  ###  ##  # ## #    ####
//  ##       ##   ##  #### ##    ##     ##  ##
//  ##       ##   ##  ## ####    ##     ##  ##
//  ##       ##   ##  ##  ###    ##     ######
//   ##  ##  ##   ##  ##   ##    ##     ##  ##
//    ####    #####   ##   ##   ####    ##  ##

.info {
    text-align: center;

    &__inner {
        @include m-inner();
    }

    &__number {
        font-size: f-rem(36);
    }
}

//     ###    ####       ###
//    ####   ##  ##     ####
//   ## ##   ## ###    ## ##
//  ##  ##   ######   ##  ##
//  #######  ### ##   #######
//      ##   ##  ##       ##
//      ##    ####        ##

.notfound {
    margin-top: (300em/14);

    &__inner {
        @include m-inner();
        text-align: center;
    }

    &__text {
        font-size: f-rem(36);
    }
}